<h1>Commande n°<%=@order.id%></h1>
<p>Détail de la commande :</p>
<% @order.items.each do |item| %>
  <div> </p> <%= link_to "#{item.title}", item_path(item) %> x  <%=item.join_table_item_orders.find_by(order_id: @order.id).quantity%> <%=item.price%> €</div>
<% end %>
<p>Prix total : <%=@order.total_price%> €</p>
