<div class="cart-items-wrapper">
  <% if cart.items.length >0 %>

    <% cart.items.each do |item| %>
      <div class="cart-item">
        <div class="cart-item__picture">
          <img src=<%= item.image_url %> alt='image'>
        </div>
        <div class="cart-item__content">
          <p class="cart-item__content--title"><%= item.title %></p>
          <p><%= item.price %>€</p>
          <p><span class="cart-item__content--quantity">Quantité :</span> <%= JoinTableItemCart.find_by(item: item, cart: cart).quantity %></p>

          <%# Fonction d'ajout ou retrait de quantité : Moins de 1 = Supprimer l'article %>
          <% if (JoinTableItemCart.find_by(item: item, cart: cart).quantity - 1 <= 0) %>
            <div class="cart-item__content--options">
              <%= link_to "Supprimer", join_table_item_cart_path(item.id), method: "delete", class:"btn danger-btn" %>
              <%= link_to "+", join_table_item_cart_path(id: item.id, increment: 1), method: "patch",class:"change_quantity" %>
            </div>
          <% else %>
            <%# Insérer ici fonction d'incrément de quantité %>
            <div class="cart-item__content--options">
              <%= link_to "-", join_table_item_cart_path(id: item.id, increment: -1), method: "patch",class:"change_quantity" %>
              <%= link_to "+", join_table_item_cart_path(id: item.id, increment: 1), method: "patch",class:"change_quantity" %>
            </div>
          <% end %>

        </div>
      </div>
    <% end %>

  <% else %>
    <p> Le panier est vide. 😿 </p>
  <% end %>
</div>

<div class="cart-total-wrapper">
  <p class="cart-total-wrapper__amount"> Total : <%= @total_amount %>€</p>
  <%= link_to "Payer (ajoute stripe ici bg)", "#", class:"btn" %>
  <%= link_to "Créer Commande", orders_path, :method => :post, class:"btn" %>
</div>