<div class='index-card'>
  <div class='index-card__illustration'>
    <% if item.item_picture.attached? %>
      <%= image_tag item.item_picture, alt: 'image' %>
    <%else%>
      <img src=<%= item.image_url %> alt='image'>
    <%end%>
  </div>
  <div class='index-card__body'>
    <% if user_signed_in? && current_user.is_admin%>
      <%= link_to raw("<i class='fas fa-times delete'></i>"), item_path(item), method: "delete" %>
    <% end %>
    <div class='index-card__info'>
      <h3 class='title'><%= item.title %></h3>
      <p class='price'><%= "#{item.price} €" %></p>
    </div>
    <div class='index-card__actions'>
      <%= link_to 'En savoir plus', item_path(item.id) , class: 'btn' %>
      <%= render(
        partial: "carts/add_to_cart_btn",
        locals: {item: item}
      ) %>
    </div>
  </div>
</div>