<div class='show-card'>
  <div class='index-card__illustration show-card__illustration'>
    <img src=<%= item.image_url %> alt='image'>
  </div>
  <div class="show-card__body">
    <h2><%= item.title %></h2>
    <p class="grey"><%= item.price %>€</p>
    <p class=show-card__body--description><%= item.description %></p>
    <div class="mt-1"><%= link_to "Ajouter au panier", "#", class: "btn" %></div>
  </div>
</div>