<nav class='navbar'>
  <div class='navbar__brand'>
    <div class='logo'></div>
    <%= link_to 'Poticha', root_path, class: 'title' %>
  </div>
  <div class='navbar__items'>
    <% if user_signed_in? %>
      <%= link_to 'Mon Compte', user_path(current_user), class: 'item' %>
      <%= link_to 'Mon Panier', cart_path(current_user), class: 'item' %>
      <%= link_to 'Me déconnecter', destroy_user_session_path, method: :delete, class: 'item' %>
    <% else %>
      <%= link_to 'Me connecter', new_user_session_path, class: 'item' %>
      <%= link_to "M'identifier", new_user_registration_path, class: 'item' %>
    <% end %>
  </div>
</nav>